/*Universal style*/

* {
  box-sizing: border-box;
}

/*Layout style - Column left and right and general positioning*/

.flex-container {
  display: flex;
}

.column-left {
  width: 65%;
  padding: 0 1.5rem;
}

.column-right {
  width: 35%;
}

#learning, #thesis {
  padding-top: 2rem;
}

.column-right article:nth-child(odd) {
  background-color: #f2f2f2;
}

.column-right article:first-child {
  padding-top: 2rem;
}

article {
  background-color: white;
}

.column-right article{
  padding: 1rem;
}

.column-left img {
  width: 100%;
  height: auto;
}

.column-right img {
  width: 35%;
  height: auto;
}

/* General media queries */

@media only screen and (max-width: 575px) {

  .flex-container {
    flex-direction: column;
  }

  .column-left, .column-right {
    width: 100%;
  }

  .column-right article:nth-child(odd) {
    background-color: #ffffff;
  }

  .column-right article:first-child {
    padding-top: 1rem;
  }

}

/*Fonts style*/

body {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 1.75rem;
  text-align: center;
  padding-bottom: 1.5rem;
  color: #35353d;
}

h3 {
  font-weight: 600;
  font-size: 1rem;
  color: #8D7759;
  padding: 1rem 0;
}

h4, p {
  color: #35353d;
  font-size: 0.8rem;
}

h4 {
  text-transform: uppercase;
  font-size: 0.8rem;
  padding-bottom: .5rem;
  font-weight: 300;
}

p {
  font-weight: 400;
  line-height: 1.4rem;
  padding-bottom: .5rem;
}

a {
  font-size: 0.8rem;
  font-weight: 600;
  color: #8D7759;
}

a:hover {
  color: #35353d;
  transition: color 0.2s ease;
}

.credits {
  font-size: .7rem;
  font-style: italic;
}

/*Header - includes Logo and navigation*/

header {
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 10;

  padding: 0 1.5rem;

  height: 64px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #f5f5f4;
}

.logo {
  display: flex;
  align-items: center;
}

.logo p {
  font-size: 1.2rem;
  padding-bottom: 0;
}

.logo span {
  color: #8D7759;
  font-weight: 600;
}

nav.desktop {
  padding-left: 1.5rem;
}

li{
  display: inline-block;
  padding: 0 8px;
}

li a {
  text-decoration: none;
}

li a:hover {
  color: #35353d;
}

/*Media Queries for Header/Navigation */

@media only screen and (min-width: 600px) {

  nav.mobile {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .logo.desktop, nav.desktop {
    display: none;
  }

  header.flex-container {
    flex-direction: row;
    align-items: center;
    }

  nav.mobile {
    display: flex;
    align-items: center;
    width: 100%;
 }

  nav.mobile ul {
    display: flex;
    flex: 1;
    align-items: baseline;
    justify-content: space-between;
    height: 100%;
  }
}


/*Main Section*/

/*Offsetting from fixed header*/
main {
  top: 64px;
  position: relative;
}

/* Jumbotron/Page banner section */

.jumbotron {
  align-items: center;
  justify-content: center;
  background-color: #35353d;
  padding: 32px 0;
}

.jumbotron img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 575px) {
  .jumbotron, .column-left {
    padding: 0;
  }

  .jumbotron.column-left {
    display: block;
    height: 11.25rem;
    max-width: 100%;
    overflow: hidden;
  }

  .jumbotron img {
    object-fit: cover;
  }

}

h1{
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-style: italic;
  font-size: 2.6rem;
  line-height: 3rem;
  color: white;
  letter-spacing: 0.1rem;
  padding-bottom: 1.5rem;
}

.content {
  padding: 0 16px;
}

.jumbotron p {
  color: #f1f1f0;
  font-size: 1rem;
  line-height: 1.8rem;
  font-weight: 300;
  padding-bottom: 1.5rem;
}

.jumbotron button {
  width: 60%;
  font-weight: 400;
  font-size: .8rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  padding: .5rem;
  background-color: #8D7759;
  border: 0px;
  color: #ffffff;
}

.jumbotron button:hover {
  background-color: #f1f1f0;
  color: #35353d;
}

/* Media Queries: Tablet and mobile for Jumbotron section */

@media only screen and (max-width: 760px) {
  .jumbotron h1 {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  .jumbotron br {
    display: none;
  }

  .jumbotron button {
    width: 100%;
  }
}

@media only screen and (max-width: 575px) {

  .jumbotron .column-right {
    padding: 2rem 1rem;
  }

}

/* Life at the Academy section */

#academy-life .column-left{
  padding: 32px 24px;
}

#academy-life .column-right{
  border-left: 1px solid #d8d8d8;
}

#academy-life h2 {
  text-align: left;
  padding-top: 32px;
}

#academy-life article, #thesis article {
  align-items: center;
  border-bottom: 1px solid #d8d8d8;
}

article .content {
  padding-left: 16px;
}


@media only screen and (min-width: 760px) {

#academy-life img.mobile{
  display: none;
  }

}

@media only screen and (max-width: 760px) {

#academy-life .flex-container {
    flex-direction: column;
  }


#academy-life img.desktop {
  display: none;
}

#academy-life img.mobile{
  display: block;
  width: 100%;
  }

#academy-life article {
  align-items: flex-start;
  }
}
/* Media Queries: Mobile for Academy-life section */

@media only screen and (max-width: 450px) {
  #academy-life .column-left{
    display: none;
  }



/* Learning Section with grid of courses */

#learning {
  justify-content: center;
  flex-wrap: wrap;
  background-color: #f5f5f4;
}

div.flex-container {
  justify-content: center;
  flex-wrap: wrap;
}

#learning article{
  width: 25%;
  margin: 16px;
}

#learning .overlay {
  background-color: #35353d;
}

#learning .content {
  background-color: #ffffff;
  padding-bottom: 24px;
}

#learning img {
  width: 100%;
  height: auto;
  background-color: #35353d;
  opacity: 0.2;
}

#learning img:hover {
  opacity: 1;
  transition: opacity .3s;
}


/* Media Queries: Tablet and mobile version for the Learning Section*/

@media only screen and (min-width: 450px) and (max-width: 800px) {
  #learning .flex-container {
    flex-direction: row;
  }

  #learning article{
    width: 40%;
  }
}

@media only screen and (max-width: 450px) {
  #learning article{
    width: 100%;
    margin: 0 1rem .5rem 1rem;
  }

  #learning img, #learning h4, #learning p {
    display: none;
  }

  #learning .content {
    background-color: #35353d;
    padding: 1rem;
    margin: 0;
  }

  #learning h3 {
    color: #ffffff;
    padding: 0;
  }

  #learning {
    padding-bottom: 2rem;
    border-bottom: 1px solid #f5f5f4;
  }
}

/* Thesis Section */

#thesis {
  padding-bottom: 24px;
}

/* Media Queries: Tablet and mobile version for the Thesis Section*/

@media only screen and (max-width: 760px) {
  #thesis .column-right, #thesis h3, #thesis p {
    display: none;
  }

  #thesis .column-left {
    width: 100%;
    padding: 0;
  }

}

/* Footer Section with copyright */

footer {
  position: relative;
  top:65px;
  display: flex;
  justify-content: space-between;
  padding: 16px 24px 48px 24px;
  border-top: 1px solid #f5f5f4;
}

footer .copyright, footer a {
  font-size: 0.7rem;
}
