/*Universal style*/

* {
  box-sizing: border-box;
}

/*Layout style - Column left and right and general positioning*/

.flex-container {
  display: flex;
}

.column-left {
  width: 65%;
  padding: 0 24px;
}

.column-right {
  width: 35%;
}

#learning, #thesis {
  padding-top: 32px;
}

.column-right article:nth-child(odd) {
  background-color: #f2f2f2;
}

.column-right article:first-child {
  padding-top: 32px;
}

article {
  background-color: white;
}

.column-right article{
  padding: 16px;
}

/*Fonts style*/

body {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 1.75rem;
  text-align: center;
  padding-bottom: 1.5rem;
  color: #35353d;
}

h3 {
  font-weight: 600;
  font-size: 1rem;
  color: #8D7759;
  padding: 1rem 0;
}

h4, p {
  color: #35353d;
  font-size: 0.8rem;
}

h4 {
  text-transform: uppercase;
  font-size: 0.8rem;
  padding-bottom: .5rem;
  font-weight: 300;
}

p {
  font-weight: 400;
  line-height: 1.4rem;
  padding-bottom: .5rem;
}

a {
  font-size: 0.8rem;
  font-weight: 600;
  color: #8D7759;
}

a:hover {
  color: #35353d;
}


/*Header - includes Logo and navigation*/

header {
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 10;

  padding: 0 24px;

  height: 64px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #35353d;
}

.logo {
  display: flex;
  align-items: center;
}

nav {
  padding: 0 24px;
}

li{
  display: inline-block;
  padding: 0 8px;
}

li a {
  text-decoration: none;
}

li a:hover {
  color: #35353d;
}


/*Main Section*/

/*Offsetting from fixed header*/
main {
  top: 64px;
  position: relative;
}

/* Jumbotron/Page banner section */

.jumbotron {
  align-items: center;
  justify-content: center;
  background-color: #35353d;
  padding: 32px 0;
}

.jumbotron img {
  width: 100%;
  height: auto;
}

h1{
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-style: italic;
  font-size: 2.5rem;
  color: white;
  letter-spacing: 0.1rem;
  padding-bottom: 1.5rem;
}

.content {
  padding: 0 16px;
}

.jumbotron p {
  color: #f1f1f0;
  font-size: 1rem;
  line-height: 1.8rem;
  font-weight: 300;
  padding-bottom: 1.5rem;
}

.jumbotron button {
  width: 60%;
  font-weight: 600;
  font-size: .8rem;
  padding: .5rem;
  background-color: #8D7759;
  border: 0px;
}

.jumbotron button:hover {
  background-color: #f1f1f0;
  color: #8D7759;
}


#academy-life .column-left{
  padding: 32px 24px;
}


#academy-life h2 {
  text-align: left;
}


.column-left img {
  width: 100%;
  height: auto;
}

.column-right img {
  width: 35%;
  height: 35%;
}

aside {
  border-left: 1px solid #d8d8d8;
}

#academy-life article, #thesis article {
  align-items: center;
  border-bottom: 1px solid #d8d8d8;
}

article .content {
  padding-left: 16px;
}


/* Learning Section with grid of courses */

#learning {
  justify-content: center;
  flex-wrap: wrap;
  background-color: #f5f5f4;
}

div.flex-container {
  justify-content: center;
  flex-wrap: wrap;
}

#learning article{
  width: 25%;
  margin: 16px;
}

#learning .overlay {
  background-color: #35353d;
}

#learning .content {
  background-color: #ffffff;
  padding-bottom: 24px;
}

#learning img {
  width: 100%;
  height: auto;
  background-color: #35353d;
  opacity: 0.2;
}

#learning img:hover {
  opacity: 1;
  transition: opacity .3s;
}


/* Footer Section with copyright */

footer {
  position: relative;
  top:65px;
  display: flex;
  justify-content: space-between;
  padding: 16px 24px 48px 24px;
}
