/*Universal style*/

* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.column-left {
  width: 65%;
  padding: 0 24px;
}

.column-right {
  width: 35%;
}

h2 {
  font-size: 2rem;
  text-align: center;
  padding-top: 2rem;
}

article {
  background-color: white;
}

.column-right article{
  padding: 16px;
}

/*Header - includes Logo and navigation*/

header {
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 10;

  padding: 0 24px;

  height: 64px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #2e2e2e;
}

.logo {
  display: flex;
  align-items: center;
}

nav {
  padding: 0 24px;
}

ul {
  list-style-type: none;
}

li{
  display: inline-block;
  padding: 0 8px;
  list-style-type: none;
}

li a {
  text-decoration: none;
}


/*Main Section*/

/*Offsetting from fixed header*/
main {
  top: 64px;
  position: relative;
}

.jumbotron {
  align-items: center;
  justify-content: center;
  background-color: #d8d8d8;
  padding: 32px 24px;
}

.jumbotron img {
  width: 60%;
  height: auto;
}

.content {
}

#academy-life .column-left{
  padding: 32px 24px;
}


#academy-life h2 {
  text-align: left;
}


.column-left img {
  width: 100%;
}

.column-right img {
  width: 35%;
  height: 35%;
}

aside {
  border-left: 1px solid #d8d8d8;
}

#academy-life article {
  align-items: center;
  border-bottom: 1px solid #d8d8d8;
}

article .content {
  padding-left: 16px;
}

#learning {
  justify-content: center;
  background-color: #d8d8d8;
}

div.flex-container {
  justify-content: center;
}

#learning article{
  width: 25%;
  margin: 16px;
}

#learning img {
  width: 100%;
  height: auto;
}

footer {
  position: relative;
  top:65px;
  display: flex;
  justify-content: space-between;
  padding: 16px 24px 48px 24px;
}
